
.l-product {
    .l-rl {
        padding: 0 50px;
    }
    .l-tb {
        padding: 150px 0;
    }
}
.l-product-page {
    .l-rl {
        padding: 0 210px;
    }
    .l-tb {
        padding: 150px 0;
    }
}